@model ReportResult
@{
    var css = new[] {"", "", ""};
    css[Model.Index] = "active";
}

<h1>@Model.Title</h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="@css[0]">@Html.ActionLink("Available books", "Index")</li>
    <li role="presentation" class="@css[1]">@Html.ActionLink("Loaned out", "LoanedOut")</li>
    <li role="presentation" class="@css[2]">@Html.ActionLink("Over deadline", "Deadline")</li>
</ul>

<table class="table table-striped">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Loaned to</th>
        <th>Loaned until</th>
    </tr>
    
    @foreach (var row in Model.Rows)
    {
        <tr>
            <td>@row.Author</td>
            <td>@row.Title</td>
            <td>@row.LoanedBy</td>
            <td>@row.LoanedUntil</td>
        </tr>
    }
</table>
